@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

form {
  display: flex;
  flex-direction: column;
}

textarea {
  outline: none;
  border: none;
  border-bottom: 5px solid;
  margin: 0.6em 0em;
  background: transparent;
  background-color: #E1E8ED;
  font-family: 'Source Sans Pro', sans-serif;
}

form > div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

form > div button {
  background-color: #2e9bdf;
  color: #fff;
  border: none;
  border-radius: 0.1em;
  font-family: 'Bungee', sans-serif;
}

.new-tweet button {
  padding: 0.3em 1em;
  border-radius: 30px;
}

.new-tweet button, .counter {
  font-size: 0.8em;
}