html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #000;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  height: 200vh;
}

 main {
  position: relative;
  width: 90%;
  margin: auto;
}

.display-error {
  display: flex;
  border: 2px solid #f00;
  justify-content: space-between;
  color: #D8000C;
  background-color: #FFBABB;
  max-height: 3em;
  margin: 1.6em;
}
.display-error > i {
  font-size: 2em;
  color: #f00;
  margin: auto 0.3em;
}

/* response design */

/* Mobile Styles */
@media only screen and (max-width: 767px) {
  nav {
    justify-content: space-evenly !important;
  }

  .header {
    background-color: #2e9bdf;
  } 
  
  .logo span, #write-new {
    display: none !important;
  }

  .logo > i {
    margin: 0 !important;
    font-size: 1.6em !important;
  }

  .new-tweet > h2{
    visibility: hidden;
    margin: 0;
  }

  .new-tweet button {
    padding: 0.2em 0.5em !important;
  }

  .header-img {
    margin-top: 6em !important;
    padding: 0 !important;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    background-color: #2e9bdf;
    margin-top: 2.5em;
  } 

  .header-img {
    margin-top: 4em;
  }

  .header-img > img {
    width: 25rem;
    height: 20rem;
    background-color: rgb(46, 155, 223, 0.98);
  }

  .new-tweet {
    margin-top: 3em;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .header {
    background-image: none;
    background-color: transparent !important;
    margin-top: 5em;
    width: 33.3%;
    float: left;
  }

  .header-img > img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgb(46, 155, 223, 0.98);
}

  .new-tweet {
    margin-top: 20vh;
    width: 67.3%;
    float: right;
  }

  .tweet-container {
    width: 67.3%;
    float: right;
  }
}